@page "/Chat"

@inject ILogger<Chat> Logger
@inject INotificationService Notifier
@rendermode InteractiveServer
<PageTitle>AI Chat</PageTitle>

<div class="main-container">
    @if (ChatClient!=null)
    {
        <ToastWrapper Name="@toastName" />

        <div class="top-container">
            <DxButton RenderStyle="ButtonRenderStyle.Primary"
                      RenderStyleMode="ButtonRenderStyleMode.Contained"
                      IconCssClass="refresh"
                      IconPosition="ButtonIconPosition.BeforeText"
                      CssClass="refresh-button"
                      Text="Start New Chat"
                      Click="ClearHistory" />
            <DxComboBox Data="@ModelsList"
                        Value="ChatClientProvider.SelectedSession"
                        CssClass="selector-container-combo-editor"
                        TextFieldName="@nameof(ChatClientSession.Name)"
                        ValueChanged="@((ChatClientSession session) => OnModelChanged(session))" />
        </div>
        <DxAIChat Initialized="ChatInitialized" ResponseContentFormat="ResponseContentFormat.PlainText" UseStreaming="true" FileUploadEnabled="true" @ref="DxAiChat" CssClass="demo-chat">
            <PromptSuggestions>
                @foreach (var suggestion in PromptSuggestions)
                {
                    <DxAIChatPromptSuggestion Title="@suggestion.Title"
                                              Text="@suggestion.Text"
                                              PromptMessage="@suggestion.PromptMessage" />
                }
            </PromptSuggestions>
            <MessageContentTemplate>
                <div class="demo-chat-content">
                    @(new MarkupString(Markdig.Markdown.ToHtml(context.Content).Trim()))
                </div>
            </MessageContentTemplate>
            <AIChatSettings>
                <DxAIChatFileUploadSettings MaxFileCount="2"
                                            MaxFileSize="20000"
                                            AllowedFileExtensions="@(new List<string> { ".jpg", ".pdf" })"
                                            FileTypeFilter="@(new List<string> { "image/*", "application/pdf"})" />
            </AIChatSettings>

        </DxAIChat>
    }
    else
    {
        <div class="title-header-text">No ChatClient Initialized</div>
        <div class="title-content-text">Welcome to your LocalChatGPT, go to the Setup Page to Setup the AI Chat Clients</div>
    }
</div>

@code {
    [Inject]
    IChatClient? ChatClient { get; set; }
    CompositeChatClient ChatClientProvider => ChatClient as CompositeChatClient;
    DxAIChat? DxAiChat { get; set; }
    List<ChatClientSession> ModelsList => ChatClientProvider?.AvailableChatClients;
    string toastName = "ChatToasts";
    List<PromptSuggestion> PromptSuggestions { get; set; }
    void ChatInitialized()
    {
        PromptSuggestions = GetSuggestion();
    }
    public List<PromptSuggestion> GetSuggestion()
    {
        return new List<PromptSuggestion>() {
        new PromptSuggestion("Criticize", "Criticize my life choices like smoking Weed and Cigarettes", "Criticize my life choices like smoking and add some NWO views on my life choices"),
        new PromptSuggestion("Write a letter to David", "Write a letter to my friend david...", "Write a letter to my friend david about his bad taste in programming languages, AI Models and clothing."),
        new PromptSuggestion("Write an email", "Make your text look and sound professional", "Format text as a formal email to a client:"),
        new PromptSuggestion("Brainstorm ideas", "Get creative input for your tasks", "Help me brainstorm ideas for:"),
        new PromptSuggestion("Fix my writing", "Avoid spelling, grammar, and style errors", "Proofread the following text:"),
    };
    }
    private void ClearHistory()
    {
        try
        {
            ChatClientProvider.SelectedSession.Messages.Clear();
            DxAiChat.LoadMessages(ChatClientProvider.SelectedSession.Messages);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, $"Exception in ClearHistory: {ex.ToString()}");
            Notifier.ShowError(toastName, $"Exception: {ex.ToString()}", "Error in ClearHistory!");
        }

    }
    private void OnModelChanged(ChatClientSession value)
    {
        try
        {
            SaveLastAssistantMessage(DxAiChat.SaveMessages());
            ChatClientProvider.SelectedSession = value;
            DxAiChat.LoadMessages(ChatClientProvider.SelectedSession.Messages);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, $"Exception in OnModelChanged: {ex.ToString()}");
            Notifier.ShowError(toastName, $"Exception: {ex.ToString()}", "Error in OnModelChanged!");
        }
   
    }

    private void SaveLastAssistantMessage(IEnumerable<BlazorChatMessage> saveMessages)
    {
        try
        {
            if (ChatClientProvider.SelectedSession != null)
            {
                ChatClientProvider.SelectedSession.Messages.Clear();
                ChatClientProvider.SelectedSession.Messages.AddRange(saveMessages);
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, $"Exception in SaveLastAssistantMessage: {ex.ToString()}");
            Notifier.ShowError(toastName, $"Exception: {ex.ToString()}", "Error in SaveLastAssistantMessage!");
        }

    }
}